exportPattern("^[[:alpha:]]+")

S3method(align, DNAbin)
S3method(align, AAbin)
S3method(align, list)
S3method(align, default)
S3method(backward, HMM)
S3method(backward, PHMM)
S3method(derivePHMM, DNAbin)
S3method(derivePHMM, AAbin)
S3method(derivePHMM, list)
S3method(derivePHMM, default)
S3method(generate, HMM)
S3method(generate, PHMM)
S3method(forward, HMM)
S3method(forward, PHMM)
S3method(plot, HMM)
S3method(plot, PHMM)
S3method(posterior, HMM)
S3method(posterior, PHMM)
S3method(print, HMM)
S3method(print, PHMM)
S3method(print, DPA)
S3method(train, HMM)
S3method(train, PHMM)
S3method(Viterbi, HMM)
S3method(Viterbi, PHMM)
S3method(Viterbi, default)
S3method(weight, AAbin)
S3method(weight, DNAbin)
S3method(weight, list)
S3method(weight, dendrogram)
S3method(weight, default)

importFrom(graphics, arrows)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, polygon)
importFrom(graphics, rect)
importFrom(graphics, text)
importFrom(kmer, cluster)
importFrom(openssl, md5)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)
importFrom(stats, as.dist)
importFrom(stats, dendrapply)
importFrom(stats, dist)
importFrom(stats, hclust)
importFrom(stats, is.leaf)
importFrom(stats, runif)
importFrom(stats, sd)

useDynLib(aphid)
