exportPattern("^[[:alpha:]]+")
exportClasses(fullprob)
exportClasses(HMM)
exportClasses(PHMM)
exportClasses(Viterbi)
exportMethods(derive.PHMM)
exportMethods(align)
exportMethods(backward)
exportMethods(generate)
exportMethods(kdistance)
exportMethods(forward)
exportMethods(plot)
exportMethods(posterior)
exportMethods(print)
exportMethods(train)
exportMethods(Viterbi)
exportMethods(weight)
importFrom(ape, as.DNAbin)
importFrom(ape, as.character.DNAbin)
importFrom(ape, print.DNAbin)
importFrom(ape, as.AAbin)
importFrom(ape, as.character.AAbin)
importFrom(ape, print.AAbin)
importFrom(graphics, arrows)
importFrom(graphics, lines)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, polygon)
importFrom(graphics, rect)
importFrom(graphics, text)
importFrom(openssl, md5)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)
importFrom(stats, as.dendrogram)
importFrom(stats, dendrapply)
importFrom(stats, dist)
importFrom(stats, hclust)
importFrom(stats, sd)
importFrom(stats, setNames)
useDynLib(aphid)
