exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(ape, as.DNAbin)
importFrom(ape, as.character.DNAbin)
importFrom(ape, print.DNAbin)
importFrom(ape, as.AAbin)
importFrom(ape, as.character.AAbin)
importFrom(ape, print.AAbin)
importFrom(openssl, md5)
useDynLib(aphid)
